<div data-role="view" data-title="Assign Grade" data-model="app.facultyView.facultyViewModel" 
     data-bind="events: { show: assignGradeShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" href="#:back">Back</a>
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;">Assign Grade</span>
        </div>
    </header>

    <h3 data-bind="text: currentStudent.Name"></h3>

    <p>
        Giving grades!
    </p>
    
</div>