<div data-role="view" data-title="Faculty Home" data-layout="main" data-model="app.facultyView" data-show="app.facultyView.onShow" data-after-show="app.facultyView.afterShow">
    <!-- START_CUSTOM_CODE_facultyView -->
    <!-- END_CUSTOM_CODE_facultyView -->
    <ul data-role="listview" data-style="inset" data-template="facultyViewModelTemplate" data-bind="{ source: facultyViewModel.dataSource, events: {click: facultyViewModel.itemClick}}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_facultyViewModel -->
    <!-- END_CUSTOM_CODE_facultyViewModel -->
    <script type="text/x-kendo-template" id="facultyViewModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Title'] #</h3>

        </div>
    </script>
</div>