<div data-role="view" data-title="Details" data-model="app.studentView.studentViewModel" 
     data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" href="#:back">Back</a>
            <span data-bind="text: currentItem.Title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>

    <p data-bind="text: currentItem.ProfessorName"></p>
    
    <p data-bind="text: currentItem.CourseDescription"></p>
    
    <!-- START_CUSTOM_CODE_studentViewModel -->
    <div id="grades-div">
        <ul id="grade-list" data-role="listview" data-style="inset" data-template="gradeTemplate">
            
        </ul>
    </div>
    <div id="no-grades-yet">
        <p>
            No grades yet for this course.  Check back after mid-terms!
        </p>
    </div>
    <div id="class-full-div">
        <p>
            Class is currently full. Check back later in case someone dropped it!
        </p>
    </div>
    <!-- END_CUSTOM_CODE_studentViewModel -->
    <footer data-role="footer">
        <div data-role="tabstrip" id="course-details-nav">
            <a id="enrollment-button" data-bind="events: { click: enrollmentAction }" data-icon="add">Enroll</a>
        </div>
    </footer>
    
    <script type="text/x-kendo-template" id="gradeTemplate">
        <div class="image-with-text">
            <h3>#: data['GradeType'] #</h3>
            <p>#: data['Grade'] #</p>
        </div>
    </script>
</div>