<div data-role="view" data-title="My Courses" data-layout="main-student" data-model="app.studentView" 
     data-bind="events: { show: studentViewModel.studentShow }">
    
    <div>
        <p>
            Hello Student!  Here is a list of your currently enrolled courses.  Feel free to add or drop courses directly from this screen, otherwise jump over to the Course List to see the full list for this semester.
        </p>
    </div>
    
    <div id="enrolled-course-list">
        <ul id="enrolled-courses-list" data-role="listview" data-style="inset" data-template="studentViewModelTemplate" 
            data-bind="events: {click: studentViewModel.itemClick}">
   		</ul>
    </div>

    <div id="no-course-view">
        <p>
            Navigate to the Course List tab to enroll in some classes!
        </p>
    </div>
    
    <script type="text/x-kendo-template" id="studentViewModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Title'] #</h3>
            <p>#: data['CourseDescription'] #</p>
        </div>
    </script>
</div>