<div data-role="view" data-title="My Courses" data-layout="main-student" data-model="app.studentView" 
     data-bind="events: { show: studentViewModel.studentShow }">
    <!-- START_CUSTOM_CODE_studentView -->
    <!-- END_CUSTOM_CODE_studentView -->
    
    <div id="enrolled-course-list">
 <!--       <ul data-role="listview" data-style="inset" data-template="studentViewModelTemplate" 
            data-bind="{ source: studentViewModel.dataSource, events: {click: studentViewModel.itemClick}}">
   		</ul>-->
        <ul id="enrolled-courses-list" data-role="listview" data-style="inset" data-template="studentViewModelTemplate" 
            data-bind="events: {click: studentViewModel.itemClick}">
   		</ul>
    </div>

    <div id="no-course-view">
        <p>
            Navigate to the Course List tab to enroll in some classes!
        </p>
    </div>
    
    <!-- START_CUSTOM_CODE_studentViewModel -->
    <!-- END_CUSTOM_CODE_studentViewModel -->
    <script type="text/x-kendo-template" id="studentViewModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Title'] #</h3>
            <p>#: data['CourseDescription'] #</p>
        </div>
    </script>
</div>